*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    background-color: #0F0D0D;
}
.page1{
    min-height: 100vh;
    width: 100%;

}
#nav{
    height: 80px;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    pad: 0 30px;
 }
#nav img{
    height: 80px;
}
#nav-2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
 }
#nav #circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: purple;
}
#nav h3{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
#nav h3:nth-child(1){
    border-bottom: 2px solid #fff ;
}

.page1  h1{
    font-size: 6vw;
    font-weight: 700  ;
    margin-top: 12vw;
    margin-left: 6vw;
}
.page1  h2{
    font-size: 6vw;
    font-weight: 700;
    margin-left: 16vw;

}
.page1 .video{
    width: 60%;
    margin-left: 20%;
    margin-top: 10vw;
}